     
       h2 {
            color: rgb(65, 211, 20);
        }

        p {
            color: grey;
            font-size: 24px
        }
        img{width: 400px;height: 200px;display: block;
   margin-left: auto;
    margin-right: auto; }
        
        

        
        